<nav class="navv" id="navbar">
  <div class="container-fluid navbar-header">
    <a class="navbar-brand" href="/"><b>Home</b></a>
    
    <a class="navbar-brand" href="/signup"><b>SignUp</b></a>
    <a class="navbar-brand" href="/signin"><b>SignIn</b></a>
    <a class="navbar-brand" href="MAIL_ADDRESS"><b>Contact</b></a>
  </div>
</nav>