<link rel="stylesheet" type="text/css" href="css/style.css">

<div class="main">
    <div class="title">
        <h3>Welcome to your Profile {{user.name}}</h3><br>
        <a class="butt" href="/post{{uid}}"><b>Add Post</b></a><br><br>
        <h4 style="text-align: left; margin-left: 6%;">Your Post</h4>
        <div class="im">
            <img src="img/image.png" width="300" height="300">
        </div>
    </div>
</div>